@page "/playGame"
@using HercAndHippoLibCs
@inject HttpClient Http

<PageTitle>Herc and Hippo</PageTitle>

<h1>Herc and Hippo</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (state == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var hho in state.SecondaryObjects.Where(so => so is IConsoleDisplayable).Cast<IConsoleDisplayable>())
        {
            <li>@hho.ConsoleDisplayString</li>
        }
    </ul>
    
}

@code {
    private Level state;

    protected override async Task OnInitializedAsync()
    {
        state = await Task.Run(() => HercAndHippoLibCs.DemoLevels.IntroducingTheHippo);
    }

}
