@page "/playGame"
@using HercAndHippoLibCs
@using static ImageMapper
@inject HttpClient Http

<style>
    body {
        background-color: black;
    }
</style>

<PageTitle>Herc and Hippo</PageTitle>

<h1 style="color:white">Herc and Hippo</h1>

@if (state == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="position: relative">
    @foreach ((int id, IConsoleDisplayable hho) in state)
    {
        @hho.GetHtml()
    }
    </div>
}

@code {
    private ObjWithId[]? state;
    private record ObjWithId(int id, IConsoleDisplayable icd);

    protected override void OnInitialized()
    {
        var level = HercAndHippoLibCs.DemoLevels.IntroducingTheHippo;
        var displayables = level.LevelObjects.Where(hho => hho is IConsoleDisplayable).Cast<IConsoleDisplayable>().ToArray();
        state = Enumerable.Range(0, displayables.Length).Zip(displayables, (id, hho) => new ObjWithId(id, hho)).ToArray();
    }


}
