@page "/playGame"
@using HercAndHippoLibCs
@using static ImageMapper
@inject IJSRuntime JsRuntime
@inject HttpClient Http

<style>
    body {
        background-color: black;
    }
</style>

<script>
    this.addEventListener("keydown", e => DotNet.invokeMethodAsync('BlazingHippo', 'OnKeyDown', String(e.keyCode)))
</script>

<PageTitle>Herc and Hippo</PageTitle>

<h1 style="color:white" >Herc and Hippo</h1>

@if (state == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="position: relative">
        <h3 style="color:white">@x</h3>
    @foreach (HercAndHippoObj hho in state.GetDisplayables())
    {
        @hho.GetHtml()
    }
    </div>

}

@code {

    private readonly DisplayLoop mainLoop;
    private Level state;
    private ElementReference controlInput;
    private static string x = "no key press detected yet...";

    public PlayGame()
    {
        GameController controller = new DoNothingController();
        state = HercAndHippoLibCs.DemoLevels.IntroducingTheHippo;
        mainLoop = new DisplayLoop(controller: controller, state: state, frequency_hz: 35, display: this); 
    }

    public async Task Update(DisplayPlan displayPlan)
    {
        // ToDo: deal with scrolling etc.
        state = displayPlan.State;
        await InvokeAsync(StateHasChanged);
    }

    [JSInvokable]
    public static void OnKeyDown(string keyCode)
    {
        x = "key was pressed: " + keyCode;
    }

}
