@page "/playGame"
@using HercAndHippoLibCs
@using static ImageMapper
@inject IJSRuntime JsRuntime
@inject HttpClient Http

<style>
    body {
        background-color: black;
    }
</style>

<script>
    this.addEventListener("keydown", e => DotNet.invokeMethodAsync('BlazingHippo', 'OnKeyDown', String(e.keyCode)))
    this.addEventListener("keyup", () => DotNet.invokeMethodAsync('BlazingHippo', 'OnKeyUp'))
</script>

<PageTitle>Herc and Hippo</PageTitle>

<h1 style="color:white" >Herc and Hippo</h1>

@if (state == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="position: relative">
        <h3 style="color:white">@status</h3>
    @foreach (HercAndHippoObj hho in state.GetDisplayables())
    {
        @hho.GetHtml()
    }
    </div>

}

@code {

    private readonly DisplayLoop mainLoop;
    private Level state;
    private ElementReference controlInput;
    private static string status = "no key press detected yet...";
    private static ActionInput lastAction = ActionInput.NoAction;

    public PlayGame()
    {
        GameController controller = new DoNothingController();
        state = HercAndHippoLibCs.DemoLevels.IntroducingTheHippo;
        mainLoop = new DisplayLoop(controller: controller, state: state, frequency_hz: 35, display: this); 
    }

    public async Task Update(DisplayPlan displayPlan)
    {
        // ToDo: deal with scrolling etc.
        state = displayPlan.State;
        await InvokeAsync(StateHasChanged);
    }

    [JSInvokable]
    public static void OnKeyDown(string keyCode)
    {
        /*
        * a= 65 (west)
        d = 68 (east)
        w = 87 (north)
        s= 83 (south)
        shift = 16
        */
        int key = Convert.ToInt32(keyCode);
        ActionInput actionInput = key switch
        {
            65 => ActionInput.MoveWest, // pressed "a"
            68 => ActionInput.MoveEast, // "pressed d"
            87 => ActionInput.MoveNorth, // "pressed w"
            83 => ActionInput.MoveSouth, // pressed "s"
            _ => ActionInput.NoAction
        };
        status = $"key was pressed: {key} -> {actionInput}";
        lastAction = actionInput;
    }

    [JSInvokable]
    public static void OnKeyUp()
    {
        lastAction = ActionInput.NoAction;
        status = "key up";
    }

}
