@page "/playGame"
@using HercAndHippoLibCs
@using static ImageMapper
@inject IJSRuntime JsRuntime
@inject HttpClient Http

<style>
    body {
        background-color: black;
    }
</style>

<PageTitle>Herc and Hippo</PageTitle>

<h1 style="color:white">Herc and Hippo</h1>

@if (state == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p style="color:white">@x</p>
    <div style="position: relative">
    @foreach (HercAndHippoObj hho in state.GetDisplayables())
    {
        @hho.GetHtml()
    }
    </div>

}

@code {
    private Level state;
    private DisplayLoop mainLoop;
    private string x;

    public PlayGame()
    {
        GameController controller = new DoNothingController();
        mainLoop = new DisplayLoop(controller: controller, state: DemoLevels.IntroducingTheHippo, frequency_hz: 1, display: this);
        state = HercAndHippoLibCs.DemoLevels.IntroducingTheHippo;
        x = "Nothing to report";
    }

    public async Task Update(IEnumerable<DisplayDiff> diffs)
    {
        x = "something to report";
        await InvokeAsync(StateHasChanged);
    }

}
